id ICON "res/icon.ico"
1 VERSIONINFO
FILEVERSION     1,1,8
PRODUCTVERSION  1,1,8
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "The Syndicate Project"
      VALUE "FileDescription", "A card game"
      VALUE "FileVersion", "1.1.8"
      VALUE "InternalName", "The Syndicate Project"
      VALUE "LegalCopyright", "Wilson Fengchi Wang"
      VALUE "OriginalFilename", "SyndicateZero.exe"
      VALUE "ProductName", "SyndicateZero"
      VALUE "ProductVersion", "1.1.8"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END